<library path="lib/libgpp_plugin">
    <class type="gpp_plugin::GlobalPlannerPipeline"
           base_class_type="nav_core::BaseGlobalPlanner">
        <description>
            pipeline for global-planners
        </description>
    </class>
    <class type="gpp_plugin::GlobalPlannerPipeline"
        base_class_type="mbf_costmap_core::CostmapPlanner">
        <description>
            pipeline for global-planners
        </description>
    </class>
</library>